{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!--<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">-->
</head>
<body style="background-color:dimgray;">
    {% include 'main/navbar.html' %}
    <!--<h2 style="text-align: center; color:floralwhite">About</h2><br>-->
   <div style="text-align: center;">
   <p class="large" style="color: aliceblue;">We Developed this for Students who are really serious about their career!</p>
   <p class="large" style="color:aliceblue; font-family:sans-serif">"Don’t be afraid to go out on a limb. That’s where the fruit is!"</p><br><br>
   <h3 style="color: antiquewhite;">Developed by</h3>
   <!--<img src="/static/images/main.jpg" alt="#" /><br>-->
   <p style="color: antiquewhite;">G Sumanth Kumar</p>
   <p style="color: antiquewhite;">Student</p>
   <p style="margin-top: 320px; color: antiquewhite;">Connect me via <a href="https://www.linkedin.com/in/g-sumanth-kumar-b48834177" style="text-decoration: none; color: darkblue;">linkedin</a></p>
   </div>
     <!-- end about section -->

     <!-- section -->
     
</body>
</html>